@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*
{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none !important;

}
.titulo
 {
    border-bottom: 1px solid rgb(28, 153, 255) !important;
    letter-spacing: 4px;
 }
 .jumbotron{
     border-radius: 0rem !important;
 }
 .card-text
 {
     font-size: 1.2rem;
     text-align: justify !important;
 }
 .card-title
 {
     font-weight: bold;
     
 }

.fila
{
   margin-top: 2rem;   
}
.pie
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #e7e7e7;
    font-size: small;
    margin-top: 15rem;
   
    
}
.contenedorpie
{
    display: flex;
    flex-direction: row;
  
}
.clscontacto
{
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 100%;
}
.clshabilidades
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 9rem;
    margin-bottom: 8rem !important;           
}

.clsrepositorios
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#proyectos
{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#datos
{
    color: rgb(238, 219, 110) !important;    
    margin-bottom: 1rem;
}

#massobremi
{
    border-top: 1px solid rgb(28, 153, 255);
   
    
}
#massobremi a
{
    color: rgb(28, 153, 255) !important;
    margin-top: 6rem;
}
#massobremi a:hover
{
    color: whitesmoke !important;
}

#logodev:hover
{
    filter: grayscale(0);
    transition-property: transform;
    transition-timing-function: cubic-bezier(68,-55,265,1.55);
    width: 105%;
    transition-property: all;
    transition-duration: 1.2s;
    transition-delay: 0.1s;
    transition-duration: .15s;
    
}

#logodev
{
    filter: grayscale();
    transition-property: transform;
    transition-timing-function: cubic-bezier(68,-55,265,1.55); 
    width: 100%;
    transition-property: all;
    transition-duration: 0.9s;
    transition-delay: 0.1s;
    

}
.hovercard
{
    background-color: #FFFFFF;     
    transition-property: background-color;
    transition-delay: 0.5s;
    transition-duration: 1.7s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);

}
.hovercard:hover
{   

    border-radius: 0.5rem;
    background-color: #c9daee; 
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
} 

.titulofooter
{
    color: rgb(12, 130, 240);
    letter-spacing: 4px;
    margin-top: 0.5em;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
   
}
.titulofooter:hover
{
    color: rgb(24, 90, 18);
}
#datos
{
    font-size: large;
}
.jumbotron
{
    background-image: url(../img/bgcabeza.jpg)!important;
    
    color: whitesmoke !important;
}
hr
{
    color: whitesmoke !important;
    border-color: whitesmoke !important;
}

a
{
    color: whitesmoke !important;
}


.nombre
{
    animation-duration: 3s;
    animation-name: slidein;
    font-size: 4rem !important;
}
.descripcion
{
    animation-duration: 2s;
    animation-name: slidein;
    font-size: 2.1rem !important;
}
.resumen
{
    font-size: 1.2rem;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
@media (max-width : 770px)
{
.contenedorpie
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre
{
    font-size: 3rem !important;
}
.descripcion
{
    font-size: 1.5rem !important;
}
.clshabilidades
{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
               
}
    .clshabilidades > a
    {
        margin: 2rem;
    }

}

  @media (max-width: 500px)
  {
    .titulo h1{
        font-size: 2rem !important;
    }
    .nombre{
        font-size: 2rem !important;
            }
    .carta{
        margin-bottom: 4rem !important;
    }
    .descripcion
    {
        font-size: 1rem !important;
    }
    
    .resumen
    {
        font-size: 0.9rem !important;
    }
    #botones
    {
        font-size: 0.7rem;
    }
    .clshabilidades
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
               
    }
    .clshabilidades > a
    {
        margin: 2rem;
    }
  }


 